@page "/ExcavatorBucketWorker"
@using MediatR
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject IMediator Mediator


<AuthorizeView Roles="Admin, Worker">
        <Authorized Context="authWorker">

<div class="d-flex justify-content-between">
    <h4>Lista łyżek do koparek</h4>
    <button class="btn btn-primary" @onclick="AddExcavatorBucket">Dodaj łyżkę</button>
</div>


@if (bucketExcavator == null)
{
    <p><em>Brak łyzek do koparek</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Zdjęcie</th>
                <th>Name</th>
                <th>BucketType</th>
                <th>ProductionYear</th>
                <th>Weight</th>
                <th>RentalPricePerDay</th>
                <th>IsRepair</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var machine in bucketExcavator)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(machine.ImagePath))
                        {
                            <img src="@machine.ImagePath" alt="Machine Image" style="max-width: 100px; max-height: 100px; object-fit: cover;" />
                        }
                        else
                        {
                            <span>No Image</span>
                        }
                    </td>
                    <td>@machine.Name</td>
                    <td>@machine.BucketType</td>
                    <td>@machine.ProductionYear</td>
                    <td>@machine.Weight</td>
                    <td>@machine.RentalPricePerDay</td>
                    <td>@machine.IsRepair</td>
                    <td>
                        <button class="btn btn-sm btn-secondary" @onclick="() => EditExcavatorBucket(machine.Id)">Edytuj</button>
                        <button class="btn btn-sm btn-danger" @onclick="() => DeleteExcavatorBucket(machine.Id)">Usuń</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
    </Authorized>
    <NotAuthorized>
        <p>Nie masz uprawnień do przeglądania tego formularza.</p>
        <p>You have no power here.</p>
    </NotAuthorized>
</AuthorizeView>