@page "/RollerWorker"
@using MediatR
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject IMediator Mediator


<AuthorizeView Roles="Admin, Worker">
        <Authorized Context="authWorker">

<div class="d-flex justify-content-between">
    <h4>Lista Walców</h4>
    <button class="btn btn-primary" @onclick="AddRoller">Dodaj Walec</button>
</div>

@if (roller == null)
{
    <p><em>Brak Maszyn</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Zdjęcie</th>
                <th>Name</th>
                <th>Production Year</th>
                <th>Operating Hours</th>
                <th>Weight</th>
                <th>Engine</th>
                <th>Engine Power</th>
                <th>IsRepair</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in roller)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(machine.ImagePath))
                        {
                            <img src="@machine.ImagePath" alt="Machine Image" style="max-width: 100px; max-height: 100px; object-fit: cover;" />
                        }
                        else
                        {
                            <span>No Image</span>
                        }
                    </td>
                    <td>@machine.Name</td>
                    <td>@machine.ProductionYear</td>
                    <td>@machine.OperatingHours</td>
                    <td>@machine.Weight</td>
                    <td>@machine.Engine</td>
                    <td>@machine.EnginePower</td>
                    <td>@machine.IsRepair</td>
                    <td>
                        <button class="btn btn-sm btn-secondary" @onclick="() => EditRoller(machine.Id)">Edytuj</button>
                        <button class="btn btn-sm btn-danger" @onclick="() => DeleteRoller(machine.Id)">Usuń</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



    </Authorized>
    <NotAuthorized>
        <p>Nie masz uprawnień do przeglądania tego formularza.</p>
        <p>You have no power here.</p>
    </NotAuthorized>
</AuthorizeView>