@using MediatR
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Authorization
@inject IJSRuntime JSRuntime
@inject IMediator Mediator
@inject NavigationManager navigationManager
@page "/ExcavatorForm"


<AuthorizeView Roles="Admin, Worker">
    <Authorized Context="authWorker">

<h3>Formularz dodawania koparki </h3>

<div id="top"></div>

@if (validationErrors != null && validationErrors.Any())
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in validationErrors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}

<EditForm Model="@machinery" OnValidSubmit="HandleValidSubmit" style="margin-bottom: 5cm;">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Nazwa maszyny</label>
        <InputText id="name" class="form-control" @bind-Value="machinery.Name" />
    </div>

    <div class="form-group">
        <label for="type">Typ maszyny</label>
        <InputSelect id="type" class="form-control" @bind-Value="machinery.TypeExcavator">
            @foreach (var type in listTypeExcavator)
            {
                <option value="@type">@type</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label for="typeChassis">Typ podwozia (koła, gąsienice, koło-gąsienice)</label>
        <InputSelect id="typeChassis" class="form-control" @bind-Value="machinery.TypeChassis">
            @foreach (var chassis in listTypeChassis)
            {
                <option value="@chassis">@chassis</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label for="rentalPricePerDay">Cena wynajmu za dzień</label>
        <InputNumber id="rentalPricePerDay" class="form-control" @bind-Value="machinery.RentalPricePerDay" />
    </div>

    <div class="form-group">
        <label for="productionYear">Rok produkcji</label>
        <InputNumber id="productionYear" class="form-control" @bind-Value="machinery.ProductionYear" />
    </div>

    <div class="form-group">
        <label for="operatingHours">Liczba godzin pracy</label>
        <InputNumber id="operatingHours" class="form-control" @bind-Value="machinery.OperatingHours" />
    </div>

    <div class="form-group">
        <label for="weight">Waga (kg)</label>
        <InputNumber id="weight" class="form-control" @bind-Value="machinery.Weight" />
    </div>

    <div class="form-group">
        <label for="engine">Silnik (model)</label>
        <InputText id="engine" class="form-control" @bind-Value="machinery.Engine" />
    </div>

    <div class="form-group">
        <label for="enginePower">Moc silnika (KM)</label>
        <InputNumber id="enginePower" class="form-control" @bind-Value="machinery.EnginePower" />
    </div>

    <div class="form-group">
        <label for="drivingSpeed">Prędkość jazdy (km/h)</label>
        <InputNumber id="drivingSpeed" class="form-control" @bind-Value="machinery.DrivingSpeed" />
    </div>

    <div class="form-group">
        <label for="fuelConsumption">Zużycie paliwa (l/h)</label>
        <InputNumber id="fuelConsumption" class="form-control" @bind-Value="machinery.FuelConsumption" />
    </div>

    <div class="form-group">
        <label for="typeFuel">Typ paliwa</label>
        <InputSelect id="typeFuel" class="form-control" @bind-Value="machinery.FuelType">
            @foreach (var typeFuel in listFuelType)
            {
                <option value="@typeFuel">@typeFuel</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label for="gearbox">Skrzynia biegów</label>
        <InputText id="gearbox" class="form-control" @bind-Value="machinery.Gearbox" />
    </div>

    <div class="form-group">
        <label for="maxDiggingDepth">Maksymalna głębokość kopania (m)</label>
        <InputNumber id="maxDiggingDepth" class="form-control" @bind-Value="machinery.MaxDiggingDepth" />
    </div>

    <div class="form-group">
        <label for="description">Opis</label>
        <InputTextArea id="description" class="form-control" @bind-Value="machinery.Description" />
    </div>

            <div class="form-group">
                <label for="imagePath"> Zdjęcia:</label>
                @if (ImagePaths != null && ImagePaths.Any())
                {
                    <ul>
                        @foreach (var imagePath in ImagePaths)
                        {
                            <li style="margin-bottom: 10px;">
                                <img src="@imagePath" alt="Machine Image" style="max-width: 100px; max-height: 100px; object-fit: cover; margin-right: 10px;" />
                                <button type="button" class="btn btn-danger btn-sm" @onclick="() => RemoveImage(imagePath)">Usuń</button>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <span>Brak zdjęć</span>
                }
                <InputFile OnChange="HandleImageUpload" multiple />
            </div>

    @if(Action == "edit")
    {
        <div class="form-group">
            <label for="IsRepair">W Naprawie</label>
            <InputCheckbox id="IsRepair" @bind-Value="machinery.IsRepair" class="form-check-input" />
        </div>
    }

    <button type="submit" class="btn btn-primary">Zapisz</button>
</EditForm>


    </Authorized>
    <NotAuthorized>
        <p>Nie masz uprawnień do przeglądania tego formularza.</p>
        <p>You have no power here.</p>
    </NotAuthorized>
</AuthorizeView>