@using MediatR
@rendermode InteractiveServer

@inject IJSRuntime JSRuntime
@inject IMediator Mediator
@inject NavigationManager navigationManager
@page "/WoodChipperForm"


<AuthorizeView Roles="Admin, Worker">
    <Authorized Context="authWorker">
<h3>Formularz dodawania rębaka do drzewa </h3>

<div id="top"></div>

@if (validationErrors != null && validationErrors.Any())
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in validationErrors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}

<EditForm Model="@machinery" OnValidSubmit="HandleValidSubmit" style="margin-bottom: 5cm;">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Nazwa maszyny</label>
        <InputText id="name" class="form-control" @bind-Value="machinery.Name" />
    </div>

    <div class="form-group">
        <label for="rentalPricePerDay">Cena wynajmu za dzień</label>
        <InputNumber id="rentalPricePerDay" class="form-control" @bind-Value="machinery.RentalPricePerDay" />
    </div>

    <div class="form-group">
        <label for="productionYear">Rok produkcji</label>
        <InputNumber id="productionYear" class="form-control" @bind-Value="machinery.ProductionYear" />
    </div>

    <div class="form-group">
        <label for="operatingHours">Liczba godzin pracy</label>
        <InputNumber id="operatingHours" class="form-control" @bind-Value="machinery.OperatingHours" />
    </div>

    <div class="form-group">
        <label for="weight">Waga (kg)</label>
        <InputNumber id="weight" class="form-control" @bind-Value="machinery.Weight" />
    </div>

    <div class="form-group">
        <label for="engine">Silnik</label>
        <InputText id="engine" class="form-control" @bind-Value="machinery.Engine" />
    </div>

    <div class="form-group">
        <label for="enginePower">Moc silnika (KM)</label>
        <InputNumber id="enginePower" class="form-control" @bind-Value="machinery.EnginePower" />
    </div>

    <div class="form-group">
        <label for="gearbox">Skrzynia biegów</label>
        <InputText id="gearbox" class="form-control" @bind-Value="machinery.Gearbox" />
    </div>

    <div class="form-group">
        <label for="drivingSpeed">Prędkość jazdy (km/h)</label>
        <InputNumber id="drivingSpeed" class="form-control" @bind-Value="machinery.DrivingSpeed" />
    </div>

    <div class="form-group">
        <label for="fuelConsumption">Zużycie paliwa (l/h)</label>
        <InputNumber id="fuelConsumption" class="form-control" @bind-Value="machinery.FuelConsumption" />
    </div>

    <div class="form-group">
        <label for="fuelType">Typ paliwa</label>
        <InputSelect id="fuelType" class="form-control" @bind-Value="machinery.FuelType">
            @foreach (var fuelType in listFuelType)
            {
                <option value="@fuelType">@fuelType</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label for="machineLength">Długość maszyny (mm)</label>
        <InputNumber id="machineLength" class="form-control" @bind-Value="machinery.MachineLength" />
    </div>

    <div class="form-group">
        <label for="transportHeight">Wysokość transportowa (mm)</label>
        <InputNumber id="transportHeight" class="form-control" @bind-Value="machinery.TransportHeight" />
    </div>

    <div class="form-group">
        <label for="choppingHeight">Wysokość rozdrabniania (mm)</label>
        <InputNumber id="choppingHeight" class="form-control" @bind-Value="machinery.ChoppingHeight" />
    </div>

    <div class="form-group">
        <label for="machineWidth">Szerokość maszyny (mm)</label>
        <InputNumber id="machineWidth" class="form-control" @bind-Value="machinery.MachineWidth" />
    </div>

    <div class="form-group">
        <label for="flowMaterial">Przepływ materiału (m3/h)</label>
        <InputNumber id="flowMaterial" class="form-control" @bind-Value="machinery.FlowMaterial" />
    </div>

    <div class="form-group">
        <label for="description">Opis</label>
        <InputTextArea id="description" class="form-control" @bind-Value="machinery.Description" />
    </div>

    <div class="form-group">
    <label for="imagePath">Zdjęcie:</label>
        @if (!string.IsNullOrEmpty(machinery.ImagePath))
        {
            <img src="@machinery.ImagePath" alt="Machine Image" style="max-width: 100px; max-height: 100px; object-fit: cover;" />
        }
        else
        {
            <span>No Image</span>
        }
    <InputFile OnChange="HandleImageUpload" />
    </div>

    @if (Action == "edit")
    {
        <div class="form-group">
            <label for="IsRepair">W Naprawie</label>
            <InputCheckbox id="IsRepair" @bind-Value="machinery.IsRepair" class="form-check-input" />
        </div>
    }

    <button type="submit" class="btn btn-primary">Zapisz</button>
</EditForm>

    </Authorized>
    <NotAuthorized>
        <p>Nie masz uprawnień do przeglądania tego formularza.</p>
        <p>You have no power here.</p>
    </NotAuthorized>
</AuthorizeView>