@page "/ExcavatorWorker"
@using MediatR
@inject NavigationManager navigationManager
@inject IMediator Mediator


<PageTitle>Excavator</PageTitle>

<div class="d-flex justify-content-between">
    <h4>Lista koparek</h4>
    <button class="btn btn-primary" @onclick="AddExcavator">Dodaj koparkę</button>
</div>

@if (excavator == null)
{
    <p><em>No data available</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>ProductionYear</th>
                <th>OperatingHours</th>
                <th>Weight</th>
                <th>Engine</th>
                <th>EnginePower</th>
                <th>DrivingSpeed</th>
                <th></th> <!-- Kolumna na akcje -->
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in excavator)
            {
                <tr>
                    <td>@machine.Name</td>
                    <td>@machine.ProductionYear</td>
                    <td>@machine.OperatingHours</td>
                    <td>@machine.Weight</td>
                    <td>@machine.Engine</td>
                    <td>@machine.EnginePower</td>
                    <td>@machine.DrivingSpeed</td>
                    <td>
                        <button class="btn btn-sm btn-secondary" @onclick="EditExcavator" >>Edytuj</button>
                        <button class="btn btn-sm btn-secondary" @onclick="DeleteExcavator">Usuń</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
