@rendermode InteractiveServer
@using MediatR
@inject NavigationManager navigationManager
@inject IMediator Mediator
@inject IHttpContextAccessor HttpContextAccessor

@page "/RollerWorker"
<h3>Roller</h3>
<PageTitle>Roller</PageTitle>

<div class="d-flex justify-content-between">
    <h4>Lista Walców</h4>
    <button class="btn btn-primary" @onclick="AddRoller">Dodaj Walec</button>
</div>

@if (roller == null)
{
    <p><em>No data available</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>ProductionYear</th>
                <th>OperatingHours</th>
                <th>Weight</th>
                <th>Engine</th>
                <th>EnginePower</th>
                <th>DrivingSpeed</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in roller)
            {
                <tr>
                    <td>@machine.Name</td>
                    <td>@machine.ProductionYear</td>
                    <td>@machine.OperatingHours</td>
                    <td>@machine.Weight</td>
                    <td>@machine.Engine</td>
                    <td>@machine.EnginePower</td>
                    <td>@machine.DrivingSpeed</td>
                    <td>
                        <button class="btn btn-sm btn-secondary" @onclick="EditRoller"> >Edytuj</button>
                        <button class="btn btn-sm btn-secondary" @onclick="DeleteRoller"> >Usuń</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
}
