@page "/ExcavatorBucketDetails"
@using MediatR
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject IMediator Mediator


<head>
    <link href="Details.css" rel="stylesheet" />
</head>


<div class="container" style="margin-bottom: 2cm;">


    <div class="row align-items-center mt-4" style="margin-bottom: 3cm;">
        <h4>@bucket.Name</h4>

        <div class="row" style="margin-top: 2cm;">
            <!-- Sekcja zdjęć -->
            <div class="col-md-6">
                <div class="text-center">
                    <!-- Główne zdjęcie -->
                    <img src="@CurrentImage" alt="Zdjęcie maszyny" class="img-fluid main-image" @onclick="ShowImageInLightbox" />
                </div>
                @if (ImagePathList?.Count > 1)
                {
                    <div class="image-scroll-container mt-3" style="display: flex; overflow-x: auto; gap: 10px;">
                        <!-- Miniatury zdjęć -->
                        @foreach (var imagePath in ImagePathList)
                        {
                            <div class="image-thumbnail" style="cursor: pointer;">
                                <img src="@imagePath" alt="Miniatura" class="img-thumbnail thumbnail-image" @onclick="(() => ChangeImage(imagePath))" />
                            </div>
                        }
                    </div>
                }
            </div>

            <!-- Sekcja opisu -->
            <div class="col-md-6">
                <div class="mb-3">
                    <p><strong>Typ łyżki:</strong> @bucket.BucketType</p>
                    <p><strong>Rok produkcji:</strong> @bucket.ProductionYear</p>
                    <p><strong>Waga:</strong> @bucket.Weight kg</p>
                    <p><strong>Pojemność łyżki:</strong> @bucket.BucketCapacity L</p>
                    <p><strong>Cena wynajmu za dzień:</strong> @string.Format("{0:C}", bucket.RentalPricePerDay)</p>
                    @if (bucket.IsRepair)
                    {
                        <p style="color: red; font-size: 20px;"><strong>W naprawie</strong></p>
                    }
                </div>
                @if (!bucket.IsRepair)
                {
                    <div class="text-center mt-3">
                        <button class="btn btn-primary btn-lg" @onclick="AddMachineToCard">Dodaj do koszyka</button>
                    </div>
                    <div class="text-center mt-3">
                        <button class="btn btn-primary btn-lg" @onclick="DeleteMachineToCard">Usuń z koszyka</button>
                    </div>
                }
            </div>
        </div>

        <!-- Lightbox -->
        @if (IsLightboxVisible)
        {
            <div class="lightbox-overlay" @onclick="HideLightbox">
                <div class="lightbox-container d-flex justify-content-center align-items-center">
                    <img src="@CurrentImage" alt="Zdjęcie w powiększeniu" class="lightbox-image" />
                </div>
            </div>
        }


    </div>




    <h2>Szczegóły łyżki</h2>
    <table class="table table-bordered" style="border-spacing: 2px;">
        <tbody>
            <tr>
                <td>Nazwa łyżki</td>
                <td>@bucket.Name</td>
            </tr>
            <tr>
                <td>Typ łyżki</td>
                <td>@bucket.BucketType</td>
            </tr>
            <tr>
                <td>Rok produkcji</td>
                <td>@bucket.ProductionYear</td>
            </tr>
            <tr>
                <td>Pojemność łyżki (L)</td>
                <td>@bucket.BucketCapacity</td>
            </tr>
            <tr>
                <td>Waga (kg)</td>
                <td>@bucket.Weight</td>
            </tr>
            <tr>
                <td>Szerokość</td>
                <td>@bucket.Width</td>
            </tr>
            <tr>
                <td>Średnica sworznia</td>
                <td>@bucket.PinDiameter</td>
            </tr>
            <tr>
                <td>Szerokość ramienia</td>
                <td>@bucket.ArmWidth</td>
            </tr>
            <tr>
                <td>Rozstaw sworzni</td>
                <td>@bucket.PinSpacing</td>
            </tr>
            <tr>
                <td>Materiał</td>
                <td>@bucket.Material</td>
            </tr>
            <tr>
                <td>Maksymalne obciążenie (kg)</td>
                <td>@bucket.MaxLoadCapacity</td>
            </tr>
            <tr>
                <td>Cena wynajmu za dzień</td>
                <td>@string.Format("{0:C}", bucket.RentalPricePerDay)</td>
            </tr>
            @if (bucket.Description is not null)
            {
                <tr>
                    <td>Opis</td>
                    <td>@bucket.Description</td>
                </tr>
            }
        </tbody>
    </table>




</div>