@page "/HarvesterDetails"
@using MediatR
@using MudBlazor
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject IMediator Mediator


<head>
    <link href="Details.css" rel="stylesheet" />
</head>



<div class="container" style="margin-bottom: 2cm;">
    <div class="row align-items-center mt-4" style="margin-bottom: 3cm;">
        <h4>@machinery.Name</h4>

        <div class="row" style="margin-top: 2cm;">
            <!-- Sekcja zdjęć -->
            <div class="col-md-6">
                <div class="text-center">
                    <!-- Główne zdjęcie -->
                    <img src="@CurrentImage" alt="Zdjęcie maszyny" class="img-fluid main-image" @onclick="ShowImageInLightbox" />
                </div>
                @if (ImagePathList?.Count > 1)
                {
                    <div class="image-scroll-container mt-3" style="display: flex; overflow-x: auto; gap: 10px;">
                        <!-- Miniatury zdjęć -->
                        @foreach (var imagePath in ImagePathList)
                        {
                            <div class="image-thumbnail" style="cursor: pointer;">
                                <img src="@imagePath" alt="Miniatura" class="img-thumbnail thumbnail-image" @onclick="(() => ChangeImage(imagePath))" />
                            </div>
                        }
                    </div>
                }
            </div>

            <!-- Sekcja opisu -->
            <div class="col-md-6">
                <div class="mb-3">
                <p><strong>Moc silnika:</strong> @machinery.EnginePower KM</p>
                <p><strong>Przepracowane godziny:</strong> @machinery.OperatingHours h</p>
                <p><strong>Waga:</strong> @machinery.Weight kg</p>
                <p><strong>Cena wynajmu za dzień: </strong> @string.Format("{0:C}", machinery.RentalPricePerDay)</p>
                    @if (machinery.IsRepair)
                    {
                        <p style="color: red; font-size: 20px;"><strong>W naprawie</strong></p>
                    }
                </div>
                @if (!machinery.IsRepair)
                {
                    <AuthorizeView Roles="Admin,Worker,Client">
                        <Authorized Context="authClient">
                    <div class="text-center mt-3">
                        <button class="btn btn-primary btn-lg" @onclick="AddMachineToCard">Dodaj do koszyka</button>
                    </div>
                    <div class="text-center mt-3">
                        <button class="btn btn-primary btn-lg" @onclick="DeleteMachineToCard">Usuń z koszyka</button>
                    </div>
                        </Authorized>
                    </AuthorizeView>
                }
            </div>
        </div>

        <!-- Lightbox -->
        @if (IsLightboxVisible)
        {
            <div class="lightbox-overlay" @onclick="HideLightbox">
                <div class="lightbox-container d-flex justify-content-center align-items-center">
                    <img src="@CurrentImage" alt="Zdjęcie w powiększeniu" class="lightbox-image" />
                </div>
            </div>
        }
    </div>

            <div class="col-md-3">
            <h3 class="text-center">Dostępność Łyżki</h3>
            <MudDatePicker PickerVariant="PickerVariant.Static"
                           ReadOnly="false"
                           Rounded="true"
                           Elevation="1"
                           Label="Color Dates"
                           AdditionalDateClassesFunc="CheckDate"
                           />
    </div>


    <h2>Szczegóły maszyny</h2>
    <table class="table table-bordered" style="border-spacing: 2px;">
        <tbody>
            <tr>
                <td>Nazwa maszyny</td>
                <td>@machinery.Name</td>
            </tr>
            <tr>
                <td>Rok produkcji</td>
                <td>@machinery.ProductionYear</td>
            </tr>
            <tr>
                <td>Przepracowane godziny</td>
                <td>@machinery.OperatingHours</td>
            </tr>
            <tr>
                <td>Waga (kg)</td>
                <td>@machinery.Weight</td>
            </tr>
            <tr>
                <td>Silnik</td>
                <td>@machinery.Engine</td>
            </tr>
            <tr>
                <td>Moc silnika (KM)</td>
                <td>@machinery.EnginePower</td>
            </tr>
            <tr>
                <td>Prędkość jazdy (km/h)</td>
                <td>@machinery.DrivingSpeed</td>
            </tr>
            <tr>
                <td>Zużycie paliwa (l/h)</td>
                <td>@machinery.FuelConsumption</td>
            </tr>
            <tr>
                <td>Typ paliwa</td>
                <td>@machinery.FuelType.ToString()</td>
            </tr>
            <tr>
                <td>Prędkość maksymalna</td>
                <td>@machinery.MaxSpeed</td>
            </tr>
            <tr>
                <td>Średnica cięcia</td>
                <td>@machinery.CuttingDiameter</td>
            </tr>
            <tr>
                <td>Zasięg maksymalny</td>
                <td>@machinery.MaxReach</td>
            </tr>
            <tr>
                <td>Typ podwozia</td>
                <td>@machinery.TypeChassis.ToString()</td>
            </tr>
            <tr>
                <td>Cena wynajmu za dzień</td>
                <td>@string.Format("{0:C}", machinery.RentalPricePerDay)</td>
            </tr>
            @if (machinery.Description is not null)
            {
                <tr>
                    <td>Opis</td>
                    <td>@machinery.Description</td>
                </tr>
            }
        </tbody>
    </table>

</div>