@page "/WoodChipperDetails"
@using MediatR
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject IMediator Mediator



<div class="container" style="margin-bottom: 2cm;">
    <div class="row align-items-center mt-4" style="margin-bottom: 3cm;">
        <h4>@machinery.Name</h4>

        <div class="row" style="margin-top: 2cm;">
            <div class="col-md-6">
                <div class="image-container">
                    <img src="@machinery.ImagePath" alt="Zdjęcie maszyny" class="img-fluid" style="width: 100%; height: auto;" />
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 1cm;">
                <div class="mb-3" style="margin-left: 2cm;">
                    <p><strong>Moc silnika:</strong> @machinery.EnginePower KM</p>
                    <p><strong>Przepracowane godziny:</strong> @machinery.OperatingHours h</p>
                    <p><strong>Waga:</strong> @machinery.Weight kg</p>
                    <p><strong>Cena wynajmu za dzień: </strong> @string.Format("{0:C}", machinery.RentalPricePerDay)</p>
                    @if (machinery.IsRepair)
                    {
                        <td style="color: red; font-size: 30px;"> W naprawie</td>
                    }
                </div>
                @if (!machinery.IsRepair)
                {
                    <div class="text-center mt-3">
                        <button class="btn btn-primary btn-lg" @onclick="AddMachineToCard">Dodaj do koszyka</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <style>
        .table td {
            width: auto;
        }

            .table td:first-child {
                width: 35%;
            }

            .table td:last-child {
                width: 65%;
            }
    </style>


    <h2>Szczegóły maszyny</h2>
    <table class="table table-bordered" style="border-spacing: 2px;">
        <tbody>
            <tr>
                <td>Nazwa maszyny</td>
                <td>@machinery.Name</td>
            </tr>
            <tr>
                <td>Cena wynajmu za dzień</td>
                <td>@string.Format("{0:C}", machinery.RentalPricePerDay)</td>
            </tr>
            <tr>
                <td>Rok produkcji</td>
                <td>@machinery.ProductionYear</td>
            </tr>
            <tr>
                <td>Przepracowane godziny</td>
                <td>@machinery.OperatingHours</td>
            </tr>
            <tr>
                <td>Waga (kg)</td>
                <td>@machinery.Weight</td>
            </tr>
            <tr>
                <td>Silnik</td>
                <td>@machinery.Engine</td>
            </tr>
            <tr>
                <td>Moc silnika (KM)</td>
                <td>@machinery.EnginePower</td>
            </tr>
            <tr>
                <td>Skrzynia biegów</td>
                <td>@machinery.Gearbox</td>
            </tr>
            <tr>
                <td>Prędkość jazdy (km/h)</td>
                <td>@machinery.DrivingSpeed</td>
            </tr>
            <tr>
                <td>Zużycie paliwa (l/h)</td>
                <td>@machinery.FuelConsumption</td>
            </tr>
            <tr>
                <td>Typ paliwa</td>
                <td>@machinery.FuelType.ToString()</td>
            </tr>
            <tr>
                <td>Długość maszyny</td>
                <td>@machinery.MachineLength</td>
            </tr>
            <tr>
                <td>Wysokość transportowa</td>
                <td>@machinery.TransportHeight</td>
            </tr>
            <tr>
                <td>Wysokość cięcia</td>
                <td>@machinery.ChoppingHeight</td>
            </tr>
            <tr>
                <td>Szerokość maszyny</td>
                <td>@machinery.MachineWidth</td>
            </tr>
            <tr>
                <td>Przepływ materiału</td>
                <td>@machinery.FlowMaterial</td>
            </tr>
            @if (machinery.Description is not null)
            {
                <tr>
                    <td>Opis</td>
                    <td>@machinery.Description</td>
                </tr>
            }
        </tbody>
    </table>

</div>