@using MediatR
@rendermode InteractiveServer

@inject IJSRuntime JSRuntime
@inject IMediator Mediator
@inject NavigationManager navigationManager
@page "/RollerForm"

<h3>Formularz dodawania maszyn </h3>

<div id="top"></div>

@if (validationErrors != null && validationErrors.Any())
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in validationErrors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}

<EditForm Model="@machinery" OnValidSubmit="HandleValidSubmit" style="margin-bottom: 5cm;">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Nazwa:</label>
        <InputText id="name" @bind-Value="machinery.Name" class="form-control" />
    </div>

    <div class="form-group">
        <label for="productionYear">Rok produkcji:</label>
        <InputNumber id="productionYear" @bind-Value="machinery.ProductionYear" class="form-control" />
    </div>

    <div class="form-group">
        <label for="operatingHours">Godziny pracy:</label>
        <InputNumber id="operatingHours" @bind-Value="machinery.OperatingHours" class="form-control" />
    </div>

    <div class="form-group">
        <label for="weight">Waga (kg):</label>
        <InputNumber id="weight" @bind-Value="machinery.Weight" class="form-control" />
    </div>

    <div class="form-group">
        <label for="engine">Silnik (model)</label>
        <InputText id="engine" class="form-control" @bind-Value="machinery.Engine" />
    </div>

    <div class="form-group">
        <label for="enginePower">Moc silnika (KM):</label>
        <InputNumber id="enginePower" @bind-Value="machinery.EnginePower" class="form-control" />
    </div>

    <div class="form-group">
        <label for="drivingSpeed">Prędkość jazdy (km/h):</label>
        <InputNumber id="drivingSpeed" @bind-Value="machinery.DrivingSpeed" class="form-control" />
    </div>

    <div class="form-group">
        <label for="fuelConsumption">Zużycie paliwa (l/h):</label>
        <InputNumber id="fuelConsumption" @bind-Value="machinery.FuelConsumption" class="form-control" />
    </div>

    <div class="form-group">
        <label for="typeFuel">Typ paliwa</label>
        <InputSelect id="typeFuel" class="form-control" @bind-Value="machinery.FuelType">
            @foreach (var typeFuel in listFuelType)
            {
                <option value="@typeFuel">@typeFuel</option>
            }
        </InputSelect>
    </div>
 
    <div class="form-group">
        <label for="gearbox">Skrzynia biegów:</label>
        <InputText id="gearbox" @bind-Value="machinery.Gearbox" class="form-control" />
    </div>

    <div class="form-group">
        <label for="numberOfDrums">Liczba bębnów:</label>
        <InputNumber id="numberOfDrums" @bind-Value="machinery.NumberOfDrums" class="form-control" />
    </div>

    <div class="form-group">
        <label for="rollerType">Typ walca:</label>
        <InputSelect id="rollerType" class="form-control" @bind-Value="machinery.RollerType">
            @foreach (var rollerType in listTypeRoller)
            {
                <option value="@rollerType">@rollerType</option>
            }
        </InputSelect>
    </div>


    <div class="form-group">
        <label for="drumWidth">Szerokość bębna (mm):</label>
        <InputNumber id="drumWidth" @bind-Value="machinery.DrumWidth" class="form-control" />
    </div>

    <div class="form-group">
        <label for="maxCompactionForce">Maksymalna siła zagęszczania (kN):</label>
        <InputNumber id="maxCompactionForce" @bind-Value="machinery.MaxCompactionForce" class="form-control" />
    </div>

    <div class="form-group">
        <label for="isVibratory">Czy jest wibracyjny?</label>
        <InputCheckbox id="isVibratory" @bind-Value="machinery.IsVibratory" class="form-check-input" />
    </div>

    <div class="form-group">
        <label for="knigeAsfalt">Czy posiada nóż asfaltowy?</label>
        <InputCheckbox id="knigeAsfalt" @bind-Value="machinery.KnigeAsfalt"  />
    </div>

    <div class="form-group">
        <label for="rentalPricePerDay">Cena wynajmu za dzień (PLN):</label>
        <InputNumber id="rentalPricePerDay" @bind-Value="machinery.RentalPricePerDay" class="form-control" />
    </div>

    <div class="form-group">
        <label for="description">Opis:</label>
        <InputTextArea id="description" @bind-Value="machinery.Description" class="form-control" />
    </div>

    <div class="form-group">
        <label for="imagePath">Zdjęcie:</label>
        <InputFile OnChange="HandleImageUpload" />
    </div>

    @if(Action == "edit")
    {
    <div class="form-group">
        <label for="IsRepair">W Naprawie</label>
        <InputCheckbox id="IsRepair" @bind-Value="machinery.IsRepair" class="form-check-input" />
    </div>
    }

    <button type="submit" class="btn btn-primary">Zapisz</button>
</EditForm>

